<h1>results:<h1>
<% if @game.winner == "Draw" %>
 <h2> it was a draw.</h2>
 <% elsif @game.winner.name == "computer" %>
 <h2> you lost - the computer won with <%= @game.winner.pick %>.</h2>
<% else %>
<h2> you won with <%= @game.winner.pick %>.</h2>
<%end%>

<form action="/register" method="POST">
  <input type='hidden' name='name' value=<%=@name%>>
  <button>new game</button>
</form>